.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.detail-text {
  text-align: center;
  justify-content: center;
  margin-top: 2rem;
  display: inline-block;
}

a, .url {
  color: black;
  margin: 0px 10px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.active {
  border-bottom: 2px solid var(--primary);
}

.url-blanco {
  text-decoration: none;
  color: rgb(228, 220, 220);
  margin: 0px 10px;
  transition: 0.3s ease-in-out;
  align-self: center;
}

.itemListStyle{
  display: inline-block;
  flex-direction: column;
  transition: all 0.3s ease-in-out;

}